@import url('https://fonts.googleapis.com/css?family=nunito');
@import 'variables';
@import '~bootstrap/scss/bootstrap';
body {
    font-size: .875rem;
  }
  
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  
  /*
   * Sidebar
   */
  
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
  }
  
  .sidebar .nav-link.active {
    color: #007bff;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
  
  /*
   * Content
   */
  
  [role="main"] {
    padding-top: 133px; /* Space for fixed navbar */
  }
  
  @media (min-width: 768px) {
    [role="main"] {
      padding-top: 48px; /* Space for fixed navbar */
    }
  }
  
  /*
   * Navbar
   */
  

  
  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }
  
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color:#fafafa;
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px #cfd8dc;
  }
  body{
      font-size:.875rem;
      background-color: #fafafa;
  }
  .navbar{
    background-color:white;
    color:#9e9e9e;
  }
  .navbar-brand {
      padding-top:0.75rem;
      padding-bottom:0.75rem;
      font-size:1rem;
      background-color:white;
      color:#9e9e9e;
  }
  .form-control {
    display: block;
    width: 50%;
    height: calc(1.6em + 0.75rem + 2px);
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
 pty-4, .pyt-4 {
   padding-top: 3.5rem !important;
 }

 .switch{
   position: relative;
   display: inline-block;
   width: 260px;
   height: 100px;
 }

 .switch input{display: none;}
 .slider{
   position: absolute;
   cursor: pointer;
   overflow: hidden;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #f2f2f2;
   -webkit-transition: .4s;
   transition: .4s;
 }
 .slider:before{
   position: absolute;
   z-index: 2;
   content: "";
   height: 96px;
   width: 96px;
   left: 2px;
   bottom: 2px;
   background-color: darkslategray;
   -webkit-box-shadow: 0 2px 5px rgb(0,0,0,0.22);
   box-shadow: 0 2px 5px rgb(0,0,0,0.22);
   transition: all 0.4s ease-in-out;
 }
 .slider:after{
   position: absolute;
   left: 0;
   z-index: 1;
   content: "YES";
   font-size: 45px;
   text-align: left !important;
   line-height: 95px;
   padding-left:0 ;
   width: 260px;
   color: #fff;
   height: 100px;
   border-radius: 100px;
   background-color: #ff6418;
   -webkit-transform: translateX(-160px);
   -ms-transform: translateX(-160px);
   transform: translateX(-160px);
   transition: all 0.4s ease-in-out;
 }

 input:checked + .slider:after{
   -webkit-transform: translateX(0px);
   -ms-transform: translateX(0px);
   transform: translateX(0px);
   padding-left: 25px;
 }
 input:checked + .slider:before{
   background-color: #fff;
 }
 input:checked + .slider:before{
   -webkit-transform: translateX(160px);
   -ms-transform: translateX(160px);
   transform: translateX(160px);
 }
 .slider.round{
   border-radius: 100px;
 }
 .slider.round:before{
   border-radius: 50%;
 }
 .absolute-no{
    position: absolute;
    left: 0;
    color: darkslategray;
    text-align: right !important;
    font-size: 45px;
    width: calc(100% - 25%);
    height: 100px;
    line-height: 95px;
    cursor: pointer;
 }